/*FUENTES*/

@font-face{
	font-family: "Poppins", sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Poppins');
}

.container {
   /* border: 5px solid red;*/
    display: block;
    min-height: 800px;
    position: relative;
    background: #ddd;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
  }
  
  header {
    /*border: 5px solid rgb(218, 5, 207);*/
    background: #2b3643;
    height: auto;
    margin: 0px auto;
    padding: 25px;
    color: #f4f4f4;
  }

  nav {
    /*border: 5px solid green;*/

      background: #364150;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; 
  }

  nav ul li{
    display: inline-block;
    border-right: 1px solid #f4f4f4;
  }
  nav a{
    display: inline-block;
    padding: 10px;
    color: white;
  }

  nav a:hover{
    display: inline-block;
    background: #3498db; 
    padding: 10px;  
    color: white;
  }

  section {
    background: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 5px solid blue; */
    /* position is static by default */
    box-shadow: 5px 10px 18px #888888;
    padding: 25px;
    z-index: 10px;
  }

  #hola{
    /* border: 5px solid green;*/
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }
  footer {
    display: block;
    margin: 0px auto;  
    color: #888888;
    height: auto;
    background-color: #ddd;
    width: 80%;
    padding: 20px;
    padding-top: 100px;
  }

  footer #copyright{
    color: #68727a;
    padding: 20px;
    border-bottom: solid 1px rgb(194, 194, 194);
  }

  footer #backtomainpage{
    color: #94a2ad;
    padding: 20px;  
  }

  body {
    /* border: 5px solid orange;*/

    background: url("../img/Main-Back2.jpg") no-repeat center center fixed;;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
/********************************************************/
/*														*/
/*					    GENERALES						*/
/*														*/
/********************************************************/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif, Arial; 
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

ul{
  list-style: none;
}

#logoname{
  display: block;
  color: #888888;
  margin: 0px auto;
  text-align: center;
}

#logoname a{
  display: block;
  color: #888888;
  margin: 0px auto;
  text-align: center;
  height: auto;
}

.img_text{
  height: 30px;
  margin-bottom: -8px;
}

.container #descripcion{
  display: block;
  color: #888888;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 10px;
}
/********************************************************/
/*														*/
/*					    CABECERA						*/
/*														*/
/********************************************************/

.ProTitulo{
	display: block;
  width: 100%;
  margin: 0px auto;
  height: 80px;
  border-bottom: solid #3682c2 1px;
  margin-bottom: 25px;
}

.ProTitulo2{
	display: block;
  width: 100%;
  margin: 0px auto;
  height: 120px;
  border-bottom: solid #3682c2 1px;
  margin-bottom: 25px;
}

.ProTitulo3{
	display: block;
  width: 100%;
  margin: 0px auto;
  height: auto;
  border-bottom: solid #3682c2 1px;
  margin-bottom: 25px;
}

/********************************************************/
/*														*/
/*					    CONTENIDO						*/
/*														*/
/********************************************************/

.menu-pro ul{
	list-style: none;
}

.menu-pro ul li{
  display: inline-block;
  color: white;
}

.content-hijo{
	display: block;
	padding: 20px;
	margin: 0px auto;
	align-content: center;
	text-align: center;	
}

.content-hijo table{
	width: 100%;
	margin: 0px auto;
}

/******************* ESTILOS DE BOTONES *******************/
.boton{
	display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    background: #3682c2;
    border: 1px solid white;
	text-align: center;
}

.boton-peque{
	width: 250px;
	margin-top: 5px;
    margin-bottom: 20px;
}

.boton-red{
    background: #ff0000;
}
.boton-gray{
  background: #888888;
}
.boton-green{
    background: #0e7a00;
}
.boton-orange{
    background: orange;
}

.boton:hover{
    display: block;
    color: white;
    background: #000000;
    border: 1px solid white;
	cursor: pointer;
	box-shadow: 0px 1px 3px #ccc;
}

.action{
	display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: gray;
	text-align: center;
}
.action-red{
  border: 1px solid red;
  color: red;
}
.action-blue{
  border: 1px solid blue;
  color: blue;
}




/******************* ESTILOS PARA TABLAS *******************/

div.data-table{
  overflow: auto;
}

table{
    background-color: rgb(184, 186, 197);
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    border: none;
}

th, td{
    padding: 10px;
}

thead{
    color: white;
    background-color: #3682c2;
}

tr:nth-child(even){
    background-color: rgb(211, 218, 226);
}

tr:hover td{
    background-color: #3498db;
    color: white;
}

/********************* BLOQUE DE LOGIN *********************/

#login{
	width: 50%;
	height: auto;
	background: transparent;
	margin: 0px auto;
	margin-bottom: 15px;
	border: 1px solid #bbbbbb;
	text-align: center;
	padding: 50px;
}

#login img{
	margin-top: 5px;
	margin: 0px auto;
	
}

#login h2{
	text-align: center;
}

#login p{
	text-align: center;
}

#login form{
  text-align: center;
}

/******************* ESTILOS PARA FORMULARIOS *******************/

#formulario{
  column-count: 1;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}

.formulario{
  /*background: #0e7a00;*/
  width: 100%;
  text-align: center;
  padding: 15px;
}

.formulario form{
  /*background: #3498db;*/
  align-content: center;
  text-align: center;
}

#formulario-head{
  column-count: 1;
  padding: 20px;
}

#formulario2col{
  column-count: 2;
  padding: 20px;
  margin-top: 15px;
  background: rgb(192, 203, 212);
}

.formulario2col{
  column-count: 2;
  padding: 20px;
  margin-top: 15px;
}

#formulariocol_pea{
  padding: 20px;
  margin-top: 15px;
  background: rgb(192, 203, 212);
}

#formulario2colclean{
  column-count: 2;
  padding: 20px;
  margin-top: 15px;
}

#formulario2col h1{
  color: #32af00;
  border: solid black 1px;
}

.formulario2colclean{
  column-count: 2;
  /*padding: 20px;*/
  margin-top: 15px;
}

#form-file{
  column-count: 2;
  padding: 20px;
}


.form-inactive{
  display: none;
}

label,
textarea,
input[type="text"],
input[type="email"],
input[type="password"]{
text-align: left;
  display: block;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px; 
}

select,
select[name="equipo"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
}

input[type="button"],
input[type="submit"],
button[type="submit"]{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  color: white;
  background: #3682c2;
  border: 1px solid white;
  cursor: pointer;
  font-size: 14pt;
}

input[type="radio"]{
color: #ff0000
}

/******************* ESTILOS PARA TARJETAS *******************/

.content-hijo .card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 300px;
  height: auto;
  cursor:pointer;
  margin: 10px;
}

.content-hijo .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content-hijo .card .cardintern{
  padding: 2px 16px;
  height: auto;
}

.cardintern p{
  color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

/********************************************************/
/*														*/
/*  			    DE FUNCIONALIDAD					*/
/*														*/
/********************************************************/

.thumb{
	width: 300px;
}


.icon{
	width: 50px;
}

/******************** PRUEBAS OCULTAS *******************/

.elec_oculto{
	display: none;
}

.ace_oculto{
	display: none;
}


/* estilos de checkbox Personalizados*/
.chkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 27px;
}

/* Hide the browser's default checkbox */
.chkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkcontainer input:checked ~ .checkmark {
  background-color: #2b3643;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.link_file{
  overflow-wrap: break-word;
}


/* Estilos de los radio botones de resultados*/

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #2b3643;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  transition: 500ms all;
  opacity: 0.3;
}

input[type=radio]:checked + label>img {
  opacity: 1;
}

.label-check{
  display: inline;
  margin-right: 90px;
  margin-left: 10px;
}